<div class="row align-item-center">
    <% result.forEach(function(res) { %>
        <div class="card">
            <div class="col">id: <%= res.id_prospecto %></div>   
            <div class="col">cedula: <%= res.cedula %></div>         
            <div class="col">cedula: <%= res.cedula %></div>         
            <div class="col">p_nombre: <%= res.p_nombre %></div>       
            <div class="col">s_nombre: <%= res.s_nombre %></div>       
            <div class="col">p_apellido: <%= res.p_apellido %></div>     
            <div class="col">s_apellido: <%= res.s_apellido %></div>     
            <div class="col">sexo: <%= res.fk_sexo %></div>        
            <div class="col">nacionalidad: <%= res.fk_nacionalidad %></div>
            <div class="col">fecha nacimiento: <%= res.fecha_nac %></div>      
            <div class="col">email: <%= res.email %></div>          
            <div class="col">celular_1: <%= res.celular_1 %></div>      
            <div class="col">celular_2: <%= res.celular_2 %></div>      
        </div>
    <% }); %>
</div>